EXPO_PUBLIC_SUPABASE_URL="https://xeyhyhfxfiohppjcfsjx.databasepad.com"
EXPO_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImU2ZjJlZDdiLWMzMTAtNDFiMi1hYzQyLTI2OTc5N2ZmYmVkZSJ9.eyJwcm9qZWN0SWQiOiJ4ZXloeWhmeGZpb2hwcGpjZnNqeCIsInJvbGUiOiJhbm9uIiwiaWF0IjoxNzYzMjAyNTk1LCJleHAiOjIwNzg1NjI1OTUsImlzcyI6ImZhbW91cy5kYXRhYmFzZXBhZCIsImF1ZCI6ImZhbW91cy5jbGllbnRzIn0.yj_McBinIXWa3MLb3EJZLYXINjin5iH4uyOMoLbqelk"
